numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
jupyter
plotly
statsmodels
tqdm
tensorflow
keras
torch
xgboost
anthropic   
streamlit   
streamlit-calendar
python-dotenv
google-auth-oauthlib
google-api-python-client
tzdata
